<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .header{
            text-align: center;
            color: #c8a7f8;
        }
        body{
            font-family: sans-serif;
            background-color: #edeeff ;
        }
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        th, td{
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div class="home">
                <div class="header">
                    <h1>Wellcome to the project grid</h1>
                </div>
                <div class="main">
                    <div>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Project No.</th>
                                    <th>Project Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="/app/v1/projects/dynamicGrid">Dynamic-Grid</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="/app/v1/projects/kuKuKube">Ku-Ku-Kube</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="/app/v1/projects/ticTacToe">Tic-Tac-Toe</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="/app/v1/projects/eventTable">Event Table</a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><a href="/app/v1/projects/ehya">WebPageDesign : ehya</a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><a href="/app/v1/projects/awanHoster">WebPageDesign : awan-hoster</a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><a href="/app/v1/projects/hireX">WebPageDesign : hireX</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">8</td>
                                    <td>student table experiment</td>
                                </tr>
                                <tr>
                                    <td><a href="/app/v1/justList">justList all students</a></td>
                                </tr>
                                <tr> 
                                    <td><a href="/app/v1/getAllStudents">getAllStudents with pagination and orderBy</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="footer">
                    <a href="/app/v1/logout">Logout</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>