<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        h1{
            text-align: center;
            color: #c8a7f8;
        }
        body{
            font-family: sans-serif;
            background-color: #edeeff ;
        }
    </style>
</head>
<body>
    <section>
        <h1>Wellcome to the project grid</h1>
        <a href="/app/v1/logout">Logout</a>
    </section>
</body>
</html>