<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="registration">
                <h1 class="heading">Make a Password</h1>
                <div class="whole_box">
                    <form id="password_form">
                        <div class="row1">
                            <div class="col">
                                <label for="create_password">Create Password</label>
                                <input type="password" name="create_password" id="create_password">

                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password" id="confirm_password">
                            </div>
                        </div>
                        <div class="row2">
                            <input type="hidden" name="userInsertedId" value="<%= userInsertedId %>">
                            <input type="button" value="Submit" id="submit_btn" onclick="password(event)">
                        </div>
                        <div class="row3">
                            <span id="error_message"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <script src="/js/auth_script.js"></script>

</body>
</html>