<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS assignment-1</title>
    <link rel="stylesheet" href="/css/task5.ehya.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="">
        <header>
            <div class="container">
                <nav>
                    <div class="logo">
                        <img src="/images/task5.ehya.assets/Logo.svg" alt="">
                    </div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li>
                            <select name="Landings" class="Landings-select">
                                <option value="Landings"><a href="">Landings</a></option>
                            </select>
                        </li>
                        <li>
                            <select name="Pages" class="Pages-select">
                                <option value="Pages"><a href="">Pages</a></option>
                            </select>
                        </li>
                        <li><a href="">Docs</a></li>
                        <li><a href="">Help</a></li>
                        <li><button class="btn">Get it now</button></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section class="section1">
            <div class="container">
                <div class="row-hero">
                    <div class="hero-img-div">
                        <img src="/images/task5.ehya.assets/Hero.png" alt="">
                    </div>
                    <div class="hero-content-div">
                        <h1>Make your life happier.</h1>
                        <p>We work with several leading insurance companies to secure insurance coverages tailored to
                            meet your needs.</p>
                        <button class="section1-btn">Get a consultation</button>
                    </div>
                </div>
            </div>
        </section>


        <section class="section2">
            <div class="container">
                <div class="row-section2">

                    <div class="section2-div1">
                        <p class="ele1">OUR SERVICES</p>
                        <h2 class="ele2">Insurance made simple for you</h2>
                        <p class="ele3">We work with several leading insurance companies to secure insurance coverages
                            tailored to meet your needs.</p>
                    </div>
                    <div class="section2-div2">
                        <div>
                            <i class="fa fa-check-circle" style="color:green; font-size: 150%; padding: 10px;"></i>
                            <p>Flexibe products to make your life easier</p>
                        </div>
                        <div>
                            <i class="fa fa-check-circle" style="color:green; font-size: 150%; padding: 10px;"></i>
                            <p>Highest standards of service</p>
                        </div>
                        <div>
                            <i class="fa fa-check-circle" style="color:green; font-size: 150%; padding: 10px;"></i>
                            <p>Fast and reliable service</p>
                        </div>
                    </div>
                    <div class="section2-div3">
                        <div class="section2-box">
                            <div class="icon"><img src="/images/task5.ehya.assets/Icon_Home.svg" alt=""></div>
                            <div>
                                <h4>Home insurance</h4>
                                <p>Home insurance is a type of insurance policy that provides cover for your home.</p>
                            </div>
                            <div>
                                <h4><a class="learn-more">Learn more &#8594;</a></h4>
                            </div>
                        </div>
                        <div class="section2-box">
                            <div class="icon"><img src="/images/task5.ehya.assets/Icon_Blood_Donation.svg" alt=""></div>
                            <div>
                                <h4>Life insurance</h4>
                                <p>Helping you bridge gaps in your health care coverage during times of transition.</p>
                                <div>
                                    <h4><a class="learn-more">Learn more &#8594;</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="section2-box">
                            <div class="icon"><img src="/images/task5.ehya.assets/Icon_Car.svg" alt=""></div>
                            <div>
                                <h4>Car insurance</h4>
                                <p>car insurance is a type of insurance policy that provides cover for your car.</p>
                                <div>
                                    <h4><a class="learn-more">Learn more &#8594;</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section3">
            <div class="container">
                <div class="row-section3">
                    <div class="section2-div1">
                        <p class="ele1">OUR TIPS FOR YOU</p>
                        <h2 class="ele2">Reinventing your protection</h2>
                        <p class="ele3">We share common trends, strategies, ideas, options, short & long stories from
                            the team
                            behind company.</p>
                    </div>
                    <div class="section3-div2">
                        <div id="section3-div2-bgimg1">
                            <h2>How to prevent and protect your family from carbon monoxide</h2>
                        </div>
                        <div id="section3-div2-bgimg2">
                            <h2>Motherhood is hardest and the best job ever</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <section class="section4">
        <div class="container">

            <div class="section2-div3">
                <div class="section4-box1">
                    <div>
                        <p>YOUR BENEFITS</p>
                        <h2>We're your right insurance advocate</h2>
                    </div>
                </div>
                <div class="section4-box">
                    <div class="icon"><img src="/images/task5.ehya.assets/Donation.svg" alt=""></div>
                    <div>
                        <h4>We have the best prices</h4>
                        <p>Our insurance plans offers are priced the same everywhere else. We just make them easier for
                            you
                            to find.</p>
                    </div>
                </div>
                <div class="section4-box">
                    <div class="icon"><img src="/images/task5.ehya.assets/Icon_Protection.svg" alt=""></div>
                    <div>
                        <h4>We're your insurance advocate</h4>
                        <p>We will deal with the insurance companies for you, even after you've bought your plan.</p>

                    </div>
                </div>
                <div class="section4-box">
                    <div class="icon"><img src="/images/task5.ehya.assets/Icon_Neutron.svg" alt=""></div>
                    <div>
                        <h4>we're unbiased</h4>
                        <p>our online tools help you decide what product is best for you. We're here to insurance plan
                            you
                            choose.</p>
                    </div>
                </div>
                <div class="section4-box">
                    <div class="icon"><img src="/images/task5.ehya.assets/Icon_CS.svg" alt=""></div>
                    <div>
                        <h4>We're available 24/7</h4>
                        <p>We have your back 24/7 between our online chart function, email and telephone support. </p>

                    </div>
                </div>
                <div class="section4-box">
                    <div class="icon"><img src="/images/task5.ehya.assets/Icon_Like.svg" alt=""></div>
                    <div>
                        <h4>We make insurance simple</h4>
                        <p>We're committed to making applying for insurance as simple as can be for our customers.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <hr class="hr1">


    <section class="section5">
        <div class="container">
            <div class="row5">
                <div class="section5-box">
                    <div>
                        <img src="/images/task5.ehya.assets/Avatar-1.png" alt="">
                        <img src="/images/task5.ehya.assets/Avatar-2.png" alt="">
                        <img src="/images/task5.ehya.assets/Avatar.png" alt="">
                    </div>
                    <p>Friendly customer support team</p>
                </div>
                <div class="section5-box">
                    <div>
                        <div class="Path">
                            <img src="./Path.svg" alt="">
                            <h3>Trustpilot</h3>
                        </div>
                        <div>
                            <img src="/images/task5.ehya.assets/s.svg" alt="">
                            <img src="/images/task5.ehya.assets/s.svg" alt="">
                            <img src="/images/task5.ehya.assets/s.svg" alt="">
                            <img src="/images/task5.ehya.assets/s.svg" alt="">
                            <img src="/images/task5.ehya.assets/s.svg" alt="">
                        </div>
                    </div>
                    <p>4.6 out of 5 stars from 8.6k reviews</p>
                </div>
                <div class="section5-box">
                    <div><img src="/images/task5.ehya.assets/Icon_Like.svg" alt="" class="like"></div>
                    <p>We're making insurance as simple as can be</p>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row-section6">
                <div class="div6">
                    <div class="section6-box1">
                        <div>
                            <img src="/images/task5.ehya.assets/Logo_white.svg" alt="">
                        </div>
                        <div>
                            <p>Build a morden and creative website with crealand</p>
                        </div>
                        <div>
                            <i class="fa fa-google"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-linkedin-square"></i>
                            <i class="fa fa-youtube-play"></i>
                        </div>
                    </div>
                    <div class="section6-box2">
                        <div>
                            <h2>Ready to get insured? Submit your request and hear back as soon as tomorrow</h2>
                        </div>
                        <div>
                            <form action="">
                                <input type="text" placeholder="Your Email">
                                <button class="section6-btn">Get started</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="div6-1">
                    <p>Copyright &copy; 2019. Crafted with love.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>