<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical-2</title>
    <link rel="stylesheet" href="/css/task6.awanHoster.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="changeContent(event, 'WordPress')">
    <div class="main-container">

        <!-- header section -->
        <header>
            <div class="container">
                <nav>
                    <div class="nav-logo">
                        <img src="/images/task6.awanHoster.assets/cloud-sunny.png" alt="">
                        <p><span style="font-weight: bold;">Avan</span> Hoster</p>
                    </div>
                    <ul>
                        <li><a href="">Hosting</a></li>
                        <li><a href="">Integration</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Community</a></li>
                        <li><button>Login</button></li>
                    </ul>
                </nav>
            </div>
        </header>

        <hr class="hr1">

        <!-- section 1 -> hero section -->
        <section class="section-1">
            <div class="container">
                <div class="sec1-row">
                    <div class="sec1-col1">
                        <h1>Hosting Services For Your Website</h1>
                        <p>Easily and reliably host your website for your business, organization, or project while
                            retaining complete control over your site's underlying infrastructure. </p>
                        <button class="btn1">Get Started</button>
                        <button class="btn2">Get Migration Help</button>
                    </div>
                    <div class="sec1-col2">
                        <img src="/images/task6.awanHoster.assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                    </div>
                </div>
            </div>
        </section>


        <!-- section 2 -->
        <section class="section-2">
            <div class="container">
                <div class="sec2-row">
                    <div class="sec2-col1">
                        <p>Those Who Have Experienced The Best Performance</p>
                    </div>
                    <div class="sec2-col2">
                        <img src="/images/task6.awanHoster.assets/Telkom Indonesia Logo.png" alt="">
                        <img src="/images/task6.awanHoster.assets/Jetstar Airways Logo.png" alt="">
                        <img src="/images/task6.awanHoster.assets/Nescafe Logo.png" alt="">
                        <img src="/images/task6.awanHoster.assets/Lenovo Logo.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- section 3 -->
        <section class="section-3">
            <div class="container">
                <div class="sec3-row">
                    <div class="sec3-col1">
                        <img src="/images/task6.awanHoster.assets/Group 3552.png" alt="">
                    </div>
                    <div class="sec3-col2">
                        <div class="sec3-col2-div1">
                            <h2>Boost the Speed of Your Website</h2>
                        </div>
                        <div class="sec3-col2-div2">
                            <div class="sec3-col2-div2-box">
                                <h4>Faster Build Process</h4>
                                <p>We can speed up the process of creating your website</p>
                            </div>
                            <div class="sec3-col2-div2-box">
                                <h4>Faster Delivery</h4>
                                <p>Our purchases and services can be comleted quickly</p>
                            </div>
                            <div class="sec3-col2-div2-box">
                                <h4>Faster Access Speed</h4>
                                <p>Superb network infrastructure and hardware to support fast and stable access</p>
                            </div>
                            <div class="sec3-col2-div2-box">
                                <h4>24/7 Faster Service</h4>
                                <p>We have a response time of less than 180 seconds, available 24 hours a day </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- section 4 -->
        <section class="section-4">
            <div class="container">
                <div class="sec4-row">
                    <div class="sec4-col1">
                        <h2>Host Any Website With Our Fully Managed Services</h2>
                    </div>
                    <div class="sec4-col2">
                        <div class="sec4-col2-box">
                            <div class="card">
                                <div class="sec4-col2-box-upper">
                                    <div class="box-header">
                                        <img src="/images/task6.awanHoster.assets/cloud-sunny.png" alt="">
                                        <h4>Cloud Hosting</h4>
                                    </div>
                                    <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                        portfolios, blogs, and other systems</p>
                                </div>

                                <h2>
                                    $5.9<sub>/month</sub>
                                </h2>

                                <button>
                                    More Details
                                </button>
                            </div>
                        </div>
                        <div class="sec4-col2-box">
                            <div class="card">
                                <div class="sec4-col2-box-upper">
                                    <div class="box-header">
                                        <img src="/images/task6.awanHoster.assets/cloud-sunny.png" alt="">
                                        <h4>Cloud Hosting</h4>
                                    </div>
                                    <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                        portfolios, blogs, and other systems</p>
                                </div>

                                <h2>
                                    $5.9<sub>/month</sub>
                                </h2>

                                <button>
                                    More Details
                                </button>
                            </div>
                        </div>
                        <div class="sec4-col2-box">
                            <div class="card">
                                <div class="sec4-col2-box-upper">
                                    <div class="box-header">
                                        <img src="/images/task6.awanHoster.assets/cloud-sunny.png" alt="">
                                        <h4>Cloud Hosting</h4>
                                    </div>
                                    <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                        portfolios, blogs, and other systems</p>
                                </div>

                                <h2>
                                    $5.9<sub>/month</sub>
                                </h2>

                                <button>
                                    More Details
                                </button>
                            </div>
                        </div>
                        <div class="sec4-col2-box">
                            <div class="card">
                                <div class="sec4-col2-box-upper">
                                    <div class="box-header">
                                        <img src="/images/task6.awanHoster.assets/cloud-sunny.png" alt="">
                                        <h4>Cloud Hosting</h4>
                                    </div>
                                    <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                        portfolios, blogs, and other systems</p>
                                </div>

                                <h2>
                                    $5.9<sub>/month</sub>
                                </h2>

                                <button>
                                    More Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section 5 -->
        <section class="section-5">
            <div class="container">
                <div class="sec5-row">
                    <div class="sec5-col1">
                        <div class="tablinks WordPress" onclick="changeContent(event, 'WordPress')">
                            <img src="" alt="">
                            <h3>Wordpress</h3>
                        </div>
                        <div class="tablinks Magento" onclick="changeContent(event, 'Magento')">
                            <img src="" alt="">
                            <h3>Magento</h3>
                        </div>
                        <div class="tablinks Laravel" onclick="changeContent(event, 'Laravel')">
                            <img src="" alt="">
                            <h3>Laravel</h3>
                        </div>
                        <div class="tablinks PHP" onclick="changeContent(event, 'PHP')">
                            <img src="" alt="">
                            <h3>PHP</h3>
                        </div>
                    </div>
                    <div id="WordPress" class="sec5-col2">
                        <h2>The Best Managed Cloud Hosting for WordPress</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away
                            cloud server related hassles so you can scale your website the way you want.</p>

                        <div class="benefits">
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                        </div>

                        <button>More Detail</button>
                    </div>

                    <div id="Magento" class="sec5-col2">
                        <h2>The Best Managed Cloud Hosting for Magento</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away
                            cloud server related hassles so you can scale your website the way you want.</p>

                        <div class="benefits">
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                        </div>

                        <button>More Detail</button>
                    </div>

                    <div id="Laravel" class="sec5-col2">
                        <h2>The Best Managed Cloud Hosting for Laravel</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away
                            cloud server related hassles so you can scale your website the way you want.</p>

                        <div class="benefits">
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                        </div>

                        <button>More Detail</button>
                    </div>

                    <div id="PHP" class="sec5-col2">
                        <h2>The Best Managed Cloud Hosting for PHP</h2>
                        <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes away
                            cloud server related hassles so you can scale your website the way you want.</p>

                        <div class="benefits">
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                            <div>
                                <img src="/images/task6.awanHoster.assets/Vector.png" alt="">
                                <p>Unlimited Bandwidth</p>
                            </div>
                        </div>

                        <button>More Detail</button>
                    </div>
                </div>
            </div>
        </section>



        <!-- section 6 -->
        <section class="section-6">
            <div class="container">
                <div class="sec6-row1">
                    <h2>How Our Customers Feel About Us</h2>
                    <div>
                        <button onclick="scrollHandler(event, id)" id="prev"><img src="/images/task6.awanHoster.assets/arrow-right.png" alt="" style="transform: rotate(180deg);"></button>
                        <button onclick="scrollHandler(event, id)" id="next"><img src="/images/task6.awanHoster.assets/arrow-right.png" alt=""></button>
                    </div>
                </div>
                <div class="sec6-row2">
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sec6-row2-col">
                        <div class="sec6-row2-col-box">
                            <div class="sec6-row2-col-box-card">
                                <div>
                                    <img src="/images/task6.awanHoster.assets/profile.png" alt="">
                                    <div>
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                        <img src="/images/task6.awanHoster.assets/Star 2.png" alt="">
                                    </div>
                                    <p>Thanks to the Avan Hoster, I was guided step-by-step until it was finished</p>
                                </div>
                                <div>
                                    <h4>Guy Hawkins</h4>
                                    <p>Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>



        <!-- section 7 -->
        <section class="section-7">
            <div class="container">
                <div class="sec7-row">
                    <div class="sec7-col1">
                        <h2>Try It Now and Stop Doubting Anything Else</h2>
                        <p>with Avan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                        <button class="sec7-btn1">Start Free Trial</button>
                        <button class="sec7-btn2">See All Plans</button>
                    </div>
                    <div class="sec7-col2">
                        <img src="/images/task6.awanHoster.assets/Group 1000008788.png" alt="">
                    </div>
                </div>
            </div>
        </section>


        <!-- section 8 -> footer -->
        <footer>
            <div class="container">
                <div class="footer-row">
                    <div class="footer-row-col1">
                        <img src="/images/task6.awanHoster.assets/logo-white.png" alt="">
                        <p>We provide you with the best hosting solutions for your website.</p>
                        <div>
                            <i class="fa fa-google"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-linkedin-square"></i>
                            <i class="fa fa-youtube-play"></i>
                        </div>
                    </div>
                    <div class="footer-row-col2">
                        <div>
                            <h4>company</h4>
                            <p>about</p>
                            <p>blog</p>
                            <p>leadership</p>
                            <p>careers</p>
                            <p>legal</p>
                        </div>
                        <div>
                            <h4>products</h4>
                            <p>api</p>
                            <p>pricing</p>
                            <p>documentation</p>
                            <p>release notes</p>
                        </div>
                        <div>
                            <h4>contact</h4>
                            <p>support</p>
                            <p>sales</p>
                            <p>report abuse</p>
                            <p>system status</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>







    <script>
        function changeContent(event, language) {

            var a = document.getElementsByClassName("tablinks");
            for (let i = 0; i < a.length; i++) {
                a[i].style.opacity = "0.5";
            }

            var x = document.getElementsByClassName("sec5-col2");
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

            var selected = language;

            document.getElementById(selected).style.display = "block";

            document.getElementsByClassName(selected)[0].style.opacity = "1";
        }

        function scrollHandler(event, id){
            var row = document.getElementsByClassName("sec6-row2")[0];
            if(id == "next"){
                row.scrollLeft += 200;
            }
            else{
                row.scrollLeft -= 200;
            }
        }
    </script>
</body>

</html>