<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment2</title>
    <link rel="stylesheet" href="/css/task2.KuKuKube.css">
</head>
<body onload="selectRand()">
    <div class="container">
        <h2 class="score">SCORE : <span id="score"></span></h2>
        <h3 class="timer">TIMER : <span id="seconds"></span></h3>
        <button class="btn" onclick="timerOn()">start</button>
        <pre>Click on start button in order to start the timer</pre>
        <br>
        <table>
            <tbody id="tbody">
                <tr>
                    <td class="box red"></td>
                    <td class="box red"></td>
                </tr>
                <tr>
                    <td class="box red"></td>
                    <td class="box red"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/js/task2.KuKuKube.script.js"></script>
</body>
</html>