<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
    <link rel="stylesheet" href="/css/task7.hireX.css">
</head>

<body>
    <div class="main-container">

        <!-- header section -->
        <header>
            <div class="container">
                <nav>
                    <div class="nav-logo">
                        <img src="/images/task7.hireX.assets/HireX_black.png" alt="">
                    </div>
                    <ul>
                        <li><a href="">Works</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><button>We're Hiring<span>&#8594;</span></button></li>
                    </ul>
                </nav>
            </div>
        </header>


        <!-- section 1 -->
        <section class="section-1">
            <div class="container">
                <div class="sec1-row1">
                    <div class="sec1-row1-col1">
                        <div class="div1">
                            <p style="margin: 0;">WELCOME TO HIREX.</p>
                            <img src="/images/task7.hireX.assets/Star 1.png" alt="">
                        </div>
                        <h1>Award Winning Digital Agency.</h1>
                        <p class="p1">Digital Agency offering unique solutions to create digital presence and increase
                            your sales.
                        </p>
                        <form action="" class="form1">
                            <input type="text" placeholder="your email address" />
                            <button>Request access</button>
                        </form>

                        <div style="position: relative;">
                            <div class="triangle-up"></div>
                            <div class="tag">
                                <p>Open account and get 5 boxes</p>
                            </div>
                        </div>
                    </div>
                    <div class="sec1-row1-col2">
                        <div class="sec1-row1-col1-div1">
                            <h2>Web Design</h2>
                            <img src="/images/task7.hireX.assets/image 2 (Traced).png" alt="">
                        </div>
                        <div class="sec1-row1-col1-div2">
                            <h2>Social Media</h2>
                            <img src="/images/task7.hireX.assets/image 6 (Traced).png" alt="">
                        </div>
                        <div class="sec1-row1-col1-div3">
                            <h2>UIX Design</h2>
                            <img src="/images/task7.hireX.assets/image 1 (Traced).png" alt="">
                        </div>
                        <div class="sec1-row1-col1-div4">
                            <img src="/images/task7.hireX.assets/Group 6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section 2 -->
        <section class="section2">
            <div class="container-full">
                <div class="sec2-row">
                    <div class="sec2-card">
                        <div class="sec2-row-col1">
                            <h2>
                                GET ACCESS NOW!
                            </h2>
                            <img src="/images/task7.hireX.assets/image-fBLQvAFN1-transformed 1.png" alt="">

                            <hr class="hr1">
                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                GET ACCESS NOW!
                            </h2>
                            <img src="/images/task7.hireX.assets/image-fBLQvAFN1-transformed 1.png" alt="">

                            <hr class="hr1">
                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                GET ACCESS NOW!
                            </h2>
                            <img src="/images/task7.hireX.assets/image-fBLQvAFN1-transformed 1.png" alt="">

                            <hr class="hr1">
                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                GET ACCESS NOW!
                            </h2>
                            <img src="/images/task7.hireX.assets/image-fBLQvAFN1-transformed 1.png" alt="">

                            <hr class="hr1">
                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                GET ACCESS NOW!
                            </h2>
                            <img src="/images/task7.hireX.assets/image-fBLQvAFN1-transformed 1.png" alt="">

                            <hr class="hr1">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section 3 -> services -->
        <section class="section-3">
            <div class="container">
                <div class="sec3-row">
                    <div class="sec3-row-first">
                        <pre>Services</pre>
                        <h2>How Hirex. Work</h2>
                        <p>The awesome people who makes all this possible</p>
                    </div>
                    <div class="sec3-row-second">
                        <div class="sec3-row-second-col">
                            <div class="sec3-card">
                                <p>START HERE</p>
                                <h3>Who we are & what we do</h3>
                                <div><img src="/images/task7.hireX.assets/Designer _Flatline 1.png" alt=""></div>
                                <button class="sec3-card-btn sec3-card-btn-1">START HERE <span> &#8594;</span></button>
                            </div>
                        </div>
                        <div class="sec3-row-second-col">
                            <div class="sec3-card">
                                <p>START HERE</p>
                                <h3>We’ll design your projects</h3>
                                <div><img src="/images/task7.hireX.assets/Notifications_Flatline 1.png" alt=""></div>
                                <button class="sec3-card-btn sec3-card-btn-2">START HERE <span> &#8594;</span></button>
                            </div>
                        </div>
                        <div class="sec3-row-second-col">
                            <div class="sec3-card">
                                <p>START HERE</p>
                                <h3>Drop us your
                                    message!</h3>
                                <div><img src="/images/task7.hireX.assets/Fortnite_Two Color 1.png" alt=""></div>
                                <button class="sec3-card-btn sec3-card-btn-3">START HERE <span> &#8594;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- section 4 -> works -->
        <section class="section-4">
            <div class="container">
                <div class="sec4-row">
                    <div class="sec4-row1">
                        <pre>Works</pre>
                        <h2>Find our latest works</h2>
                        <p>The awesome people who makes all this possible</p>
                    </div>
                    <div class="sec4-row2">
                        <div class="sec4-row2-col">
                            <div class="sec4-card">
                                <img src="/images/task7.hireX.assets/Rectangle 13.png" alt="">
                                <div class="sec4-card-content">
                                    <pre>Web design</pre>
                                    <h3>Website Design For Digital Agency</h3>
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="" class="a-border-bottom">Read more <span> &#8594;</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="sec4-row2-col">
                            <div class="sec4-card">
                                <img src="/images/task7.hireX.assets//Rectangle 13-1.png" alt="">
                                <div class="sec4-card-content">
                                    <pre>3D Design</pre>
                                    <h3>Realistic 3d Model of Living Room</h3>
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="" class="a-border-bottom">Read more <span> &#8594;</span></a>
                                </div>
                            </div>

                            <div class="sec4-row3">
                                <button class="view-all">View All <span> &#8594;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section 5 -> pricing -->
        <section class="section-5">
            <div class="container">
                <div class="sec5-row">
                    <div class="sec5-row1">
                        <h2>Plans & Pricing</h2>
                        <p>The awesome people who makes all this possible</p>
                    </div>
                    <div class="sec5-row2">
                        <div class="sec5-row2-col">
                            <div class="sec5-card">
                                <p class="font-bold">FREE</p>
                                <h3><span class="font-big">$0</span>/MONTH</h3>
                                <p class="font-mid">Start free while you learn more about our services</p>
                                <hr>
                                <div class="plan-tick-content">
                                    <div class="plan-tick">&#10003; <p>Free forever get the basic essentials</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Advanced security and performance</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Unlimited unhosted sites</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Live support</p>
                                    </div>
                                </div>
                                <button class="sec3-card-btn-2 plan-pricing-btn">Get started</button>
                            </div>
                        </div>
                        <div class="sec5-row2-col">
                            <div class="sec5-card">
                                <p class="font-bold">BASIC</p>
                                <h3><span class="font-big">$19</span>/MONTH</h3>
                                <p class="font-mid">Get powerful tools to make your business grow</p>
                                <hr>
                                <div class="plan-tick-content">
                                    <div class="plan-tick">&#10003; <p>Free forever get the basic essentials</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Advanced security and performance</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Unlimited unhosted sites</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Live support</p>
                                    </div>
                                </div>
                                <button class="sec3-card-btn-3 plan-pricing-btn">Get started</button>
                            </div>
                        </div>
                        <div class="sec5-row2-col">
                            <div class="sec5-card">
                                <p class="font-bold">PRO</p>
                                <h3><span class="font-big">$99</span>/MONTH</h3>
                                <p class="font-mid">Take your business to the next level with our tools</p>
                                <hr>
                                <div class="plan-tick-content">
                                    <div class="plan-tick">&#10003; <p>Free forever get the basic essentials</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Advanced security and performance</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Unlimited unhosted sites</p>
                                    </div>
                                    <div class="plan-tick">&#10003; <p>Live support</p>
                                    </div>
                                </div>
                                <button class="sec3-card-btn-1 plan-pricing-btn">Get started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section 6 -->
        <section class="section-6">
            <div class="container">
                <div class="sec6-row">
                    <div class="sec6-col1">
                        <button onclick="scrollHandler(event, id)" id="prev"><img src="/images/task7.hireX.assets/arrow-left-2.png"
                                alt=""></button>
                    </div>
                    <div class="sec6-col2-parent">
                        <div class="sec6-col2">
                            <div class="img-ref">
                                <div class="sec6-col2-box1">
                                    <img src="/images/task7.hireX.assets/testimonials-img.png" alt="">
                                </div>
                                <div class="ref">
                                    <p>@mase.place</p>
                                    <img src="/images/task7.hireX.assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="sec6-col2-box2">
                                <p class="font-mid font-bold beforeEffect">We select to practice in Minerva since it is
                                    both
                                    useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds</p>
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase
                                    of more than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div>

                        <div class="sec6-col2">
                            <div class="img-ref">
                                <div class="sec6-col2-box1">
                                    <img src="/images/task7.hireX.assets/testimonials-img.png" alt="">
                                </div>
                                <div class="ref">
                                    <p>@mase.place</p>
                                    <img src="/images/task7.hireX.assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="sec6-col2-box2">
                                <p class="font-mid font-bold beforeEffect">We select to practice in Minerva since it is
                                    both
                                    useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds</p>
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase
                                    of more than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div>

                        <div class="sec6-col2">
                            <div class="img-ref">
                                <div class="sec6-col2-box1">
                                    <img src="/images/task7.hireX.assets/testimonials-img.png" alt="">
                                </div>
                                <div class="ref">
                                    <p>@mase.place</p>
                                    <img src="/images/task7.hireX.assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="sec6-col2-box2">
                                <p class="font-mid font-bold beforeEffect">We select to practice in Minerva since it is
                                    both
                                    useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds</p>
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase
                                    of more than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div>

                        <div class="sec6-col2">
                            <div class="img-ref">
                                <div class="sec6-col2-box1">
                                    <img src="/images/task7.hireX.assets/testimonials-img.png" alt="">
                                </div>
                                <div class="ref">
                                    <p>@mase.place</p>
                                    <img src="/images/task7.hireX.assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="sec6-col2-box2">
                                <p class="font-mid font-bold beforeEffect">We select to practice in Minerva since it is
                                    both
                                    useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds</p>
                                <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a
                                    fanbase
                                    of more than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-col3">
                        <button onclick="scrollHandler(event, id)" id="next"><img src="/images/task7.hireX.assets/arrow-right-2.png"
                                alt=""></button>
                    </div>
                </div>
            </div>
        </section>



        <!-- section 7 -> blog -->
        <section class="section-7">
            <div class="container">
                <div class="sec7-row">
                    <div class="sec7-row1">
                        <pre>Blog</pre>
                        <h2>Stay Updated</h2>
                    </div>
                    <div class="sec7-row2">
                        <div class="sec7-row2-col">
                            <div class="sec7-card">
                                <img src="/images/task7.hireX.assets/Rectangle 19.png" alt="">
                                <div class="sec7-card-content">
                                    <pre>Web design</pre>
                                    <h3>We Launch Minerva Template this Week!</h3>
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="" class="a-border-bottom">Read more <span> &#8594;</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="sec7-row2-col">
                            <div class="sec7-card">
                                <img src="/images/task7.hireX.assets/Rectangle 20.png" alt="">
                                <div class="sec7-card-content">
                                    <pre>Web Design</pre>
                                    <h3>Introducing the Non-Code Webflow Guide</h3>
                                    <p>Build a unique Website with HireX Template</p>
                                    <a href="" class="a-border-bottom">Read more <span> &#8594;</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section 8 Get our latests news & updates-->

        <section class="section-8">
            <div class="container">
                <div class="sec8-row">
                    <div class="sec8-col1">
                        <h2>Get our latests news & updates</h2>
                        <form action="" class="form2">
                            <input type="text" name="name" id="" placeholder="NAME" class="font-mid" />
                            <input type="text" name="name" id="" placeholder="EMAIL" class="font-mid" />
                            <div>
                                <input type="submit" value="SUBSCRIBE" class="left-align font-mid" />
                                <img src="/images/task7.hireX.assets/arrow-right-black.svg" alt="">
                            </div>
                        </form>
                    </div>
                    <div class="sec8-col2">
                        <p>We select to practice in Minerva since it is both useful and commonsense, and our clients
                            basically adore it</p>
                        <button>Book a Call</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- section 9 -->
        <section class="section2">
            <div class="container-full">
                <div class="sec2-row">
                    <div class="sec2-card">
                        <div class="sec2-row-col1">
                            <h2>
                                THANK YOU FOR YOUR VISIT
                            </h2>
                            <img src="/images/task7.hireX.assets/Group 59.png" alt="">


                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                THANK YOU FOR YOUR VISIT
                            </h2>
                            <img src="/images/task7.hireX.assets/Line 4.png" alt="">


                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                THANK YOU FOR YOUR VISIT
                            </h2>
                            <img src="/images/task7.hireX.assets/Group 59.png" alt="">


                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                THANK YOU FOR YOUR VISIT
                            </h2>
                            <img src="/images/task7.hireX.assets/Line 4.png" alt="">


                        </div>
                        <div class="sec2-row-col1">
                            <h2>
                                THANK YOU FOR YOUR VISIT
                            </h2>
                            <img src="/images/task7.hireX.assets/Group 59.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container">
                <div class="footer-row1">
                    <img src="/images/task7.hireX.assets/HireX_black.png" alt="">
                </div>
                <div class="footer-row2">
                    <hr>
                </div>
                <div class="footer-row3">
                    <div class="footer-col">
                        <h5>Products</h5>
                        <p>Platform</p>
                        <p>Store Overview</p>
                        <p>Email Reports</p>
                        <p>Portfolio</p>
                    </div>
                    <div class="footer-col">
                        <h5>Resources</h5>
                        <p>Case Studies</p>
                        <p>Product Guides</p>
                        <p>Reports</p>
                        <p>Blog</p>
                        <p>FAQ</p>
                    </div>
                    <div class="footer-col">
                        <h5>Company</h5>
                        <p>Careers</p>
                        <p>Contact Sales</p>
                        <p>Contact Support</p>
                    </div>
                    <div class="footer-col">
                        <h5>Partners</h5>
                        <p>Partner With Us</p>
                    </div>
                </div>
                <div class="footer-row4">
                    <p>Terms and Conditions Privacy Policy</p>
                    <p>©HIREX, Inc. 2022</p>
                </div>

            </div>
        </footer>


    </div>




    <script>
        function scrollHandler(event, id) {
            const parent = document.getElementsByClassName("sec6-col2-parent")[0];
            console.log(parent);
            if (id == "prev") {
                parent.scrollLeft -= 689;
            } else {
                parent.scrollLeft += 689;
            }
        }
    </script>
</body>

</html>