<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="registration">
                <h1 class="heading">Your Session has expired</h1>
                <p>Please generate new <link rel="stylesheet" href=""></p>
                <div class="whole_box">
                    <form id="timeout_form">
                        <div class="row1">
                            <div class="col">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email">
                            </div>
                        </div>
                        <div class="row2">
                            <input type="hidden" name="id" value="<%= id %>">
                            <input type="button" value="Regenerate Link" id="submit_btn" onclick="timeout(event)">
                        </div>
                        <div class="row3">
                            <span id="error_message"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/auth_script.js"></script>

</body>
</html>