<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>false input</title>
</head>

<body>
    <h1 id="message">Sorry you can not perform insert, update or delete...</h1>
</body>
<script>
    setTimeout(function () {
        window.location.replace("http://localhost:3000/app/v1/getQueryForm");
    }, 3000);
    
</script>

</html>